* {
  font-family: "Serif";
}
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100vh;
}
.share-book {
  background: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
}
.share-book .btn-group button {
  background-color: white; 
  border: white; 
  color: black; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
  margin-top:40px;
  font-size: 15px;
}
.share-book .btn-group button img {
  border-radius: 8px;
  }

.share-book .btn-group button:not(:last-child) {
  border-right: none; 
}
.share-book .btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.share-book .btn-group button:hover {
  background-color: white;
}
.share-book .bookTitle {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: 0em;
}
.share-book .bookTitle input {
  outline: none;
  border: none;
}
.share-book .bookTitle input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.share-book .bookTitle input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.share-book .bookTitle input::placeholder {
  color: black;
  font-size: 0.9em;
}
.share-book .bookTitle ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.share-book .bookAuthor {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.share-book .bookAuthor input {
  outline: none;
  border: none;
}
.share-book .bookAuthor input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.share-book .bookAuthor input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.share-book .bookAuthor input::placeholder {
  color: black;
  font-size: 0.9em;
}
.share-book .bookAuthor ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.share-book .photo-button button {
  background-color: #0d3eee; /* Green background */
  border: 1px solid rgb(13, 3, 49); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.share-book .photo-button button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
/* Clear floats (clearfix hack) */
.share-book .photo-button:after {
  content: "";
  clear: both;
  display: table;
}
/* Add a background color on hover */
.share-book .photo-button button:hover {
  background-color: #0d3eee;
}
.share-book .address {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: 0em;
}
.share-book .address input {
  outline: none;
  border: none;
}
.share-book .address input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.share-book .address input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.share-book .address input::placeholder {
  color: black;
  font-size: 0.9em;
}
.share-book .address ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.share-book .upload {
  padding: 1em;
  background-color: #0421f9;
  color: #0d3eee;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  margin: center;
}
.share-book .help {
  padding: 1em;
  background-color: #0421f9;
  color: #0d3eee;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  margin: right;
}
.share-book .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
}
.share-book .footer span {
  cursor: pointer;
}

button {
  cursor: pointer;
}
